In [1]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect("example.db")

In [3]:
import random
# Create table
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS student (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    grade INTEGER NOT NULL
)
""")

# Sample student names
students = ["Alice", "Bob", "Charlie", "David", "Eve"]

# Insert students with random grades (0-100)
cursor.executemany(
    "INSERT INTO student (name, grade) VALUES (?, ?)",
    [(name, random.randint(0, 100)) for name in students]
)

# Commit and retrieve data
conn.commit()

# Fetch and print all students
cursor.execute("SELECT * FROM student")
rows = cursor.fetchall()

for row in rows:
    print(row)

# Close connection
cursor.close()

(1, 'Alice', 5)
(2, 'Bob', 71)
(3, 'Charlie', 26)
(4, 'David', 87)
(5, 'Eve', 66)

In [6]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM student")

rows = cursor.fetchall()

for row in rows:
    print(row)

# Close connection
cursor.close()

(1, 'Alice', 5)
(2, 'Bob', 71)
(3, 'Charlie', 26)
(4, 'David', 87)
(5, 'Eve', 66)

In [15]:
cursor = conn.cursor()
cursor.execute("""
   WITH Ordered AS (
    SELECT grade,
           ROW_NUMBER() OVER (ORDER BY grade) AS row_num,
           COUNT(*) OVER () AS total_count
    FROM student
)
SELECT * FROM Ordered
WHERE row_num IN (3.5, 4);
""")

rows = cursor.fetchall()

for row in rows:
    print(row)

# Close connection
cursor.close()

(71, 4, 5)